<h1>Welcome to Restaurant World!</h1>
<p>Your one-stop place for everything you could really ever possibly want to know about restaurants on Pleasantville's west side.</p>
<p>So, not much.</p>

<%= link_to 'Give us a try!', controller: 'restaurants' %>