<%- model_class = Restaurant -%>
<div class="page-header" style="margin-top: 30px; margin-top: 7vh">
  <h1>Edit Restaurant Profile</h1>
</div>

<%= image_tag @restaurant.image_url(:masthead).to_s %>
<p></p>

<%= render :partial => 'form' %>
