<%- model_class = Restaurant -%>
<div class="page-header">
  <h1><%=t '.title', :default => [:'helpers.titles.edit', 'Edit %{model}'], :model => model_class.model_name.human.titleize %></h1>
</div>

<%= image_tag @restaurant.image_url(:masthead).to_s %>
<p></p>

<%= render :partial => 'form' %>
