<%- model_class = Restaurant -%>

<% if @restaurant.errors.any? %>
     <div class="alert alert-error">
      <h3><%= pluralize(@restaurant.errors.count, "error") %> prohibited this restaurant from being saved:</h3>

      <ul>
      <% @restaurant.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
 <% end %>

<div class="page-header" style="margin-top: 50px; margin-top: 8vh">
  <h1>New Restaurant</h1>
</div>
<%= render :partial => 'form' %>

